@import url("https://fonts.googleapis.com/css?family=Play|Cabin|Righteous");
$customFuschia: #db0033;
$customPurple: #48016b;
$stackBgColor: #13030d;

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  background-color: #f9f4f8;
  overflow-x: hidden;
  height: 100%;
  overscroll-behavior-y: auto;
}

@supports (display: grid) {
  .about {
    display: grid;
    width: 100%;
    height: 98vh;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#33ccff),
      to(#db0033)
    );
    background: -webkit-linear-gradient(top, #33ccff 0%, #db0033 100%);
    background: -o-linear-gradient(top, #33ccff 0%, #db0033 100%);
    background: linear-gradient(to bottom, #33ccff 0%, #db0033 100%);

    &__container {
      display: grid;
      justify-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      grid-template: 1fr 0.5fr repeat(5, 1fr) / repeat(6, 1fr);
      width: 94%;
      height: 95vh;
      margin: 2vh auto;

      &__title {
        grid-column: 3/5;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        position: relative;
        top: 0.15em;
        left: 0.13em;
        font-size: 5.8em;
        letter-spacing: 0.02em;
        font-family: "Righteous", "Zapf Chancery", cursive;
        color: #ddd4;
        text-shadow: -3px 1px 50px #ddd3;

        h2:nth-child(1) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          grid-column: 1/2;
        }

        h2:nth-child(2) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          grid-column: 2/3;
          grid-row: 2/3;
          position: relative;
          top: -0.3em;
          left: -0.13em;
        }

        .letters {
          color: #ddd4;
          -webkit-transition: color 100ms cubic-bezier(0.42, 0, 0.63, 0.86),
            text-shadow 300ms cubic-bezier(0.42, 0, 0.63, 0.86);
          -o-transition: color 300ms cubic-bezier(0.42, 0, 0.63, 0.86),
            text-shadow 300ms cubic-bezier(0.42, 0, 0.63, 0.86);
          transition: color 100ms cubic-bezier(0.42, 0, 0.63, 0.86),
            text-shadow 300ms cubic-bezier(0.42, 0, 0.63, 0.86);
        }
        .active-text {
          color: rgb(230, 228, 228);
          display: block;
          text-shadow: 0px 0px 10px #fff;
        }
      }

      &__description {
        grid-row: 5/6;
        grid-column: 2/6;
        align-self: end;

        &__text {
          padding: 1em;
          font-size: 1.4em;
          font-weight: bold;
          background-color: #7b080833;
          text-align: center;
          color: #21016b;
          font-family: "Cabin", Gill Sans, sans-serif;
          -webkit-box-shadow: -2px 4px 5px #210031;
          box-shadow: -2px 4px 5px #210031;
          text-shadow: 0px 1px 1px #b19494ab;
          opacity: 0.95;
          border-radius: 10px;
        }
      }

      &__skills {
        grid-column: 3/5;
        grid-row: 6/7;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 100%;

        &__stack {
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-content: center;
          justify-content: center;
          color: $customPurple;
          text-align: center;
          align-self: end;
          font-size: 3em;
          text-shadow: -1px 1px 2px black;
          &:hover {
            cursor: pointer;
          }
          > a {
            display: flex;
            align-content: center;
            color: $customPurple;
            text-decoration: none;
            &:visited {
              color: $customPurple;
            }
          }
        }
      }

      &__arrow {
        grid-column: 3/5;
        grid-row: 7/-1;
        align-self: end;
        padding: 0.1em 0.25em;
        font-size: 2.5em;
        text-decoration: none;
        color: #eee7;
        -webkit-animation-name: spin;
        animation-name: spin;
        -webkit-animation-duration: 1100ms;
        animation-duration: 1100ms;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        a {
          text-decoration: none;
          color: #eee7;

          &:visited {
            color: #eee7;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
      @-webkit-keyframes spin {
        from {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
        }

        to {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }
      }
      @keyframes spin {
        from {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
        }

        to {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }
      }
    }
  }

  .portfolio {
    width: 100%;
    height: 150%;
    margin-top: 0.3rem;
    background-color: #b18cb9;
    box-shadow: 0 -2px 3px #004;

    &__container {
      width: 85%;
      height: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
      &__card {
        width: 85%;
        height: 90%;
        display: grid;
        grid-template-rows: 1fr 3fr 1fr 2fr;
        background-color: #d4c0de;
        color: $customPurple;
        font-family: "Play", Helvetica, sans-serif;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 1px 3px #131010;
        background-size: cover;
        background-blend-mode: screen;

        > * {
          align-self: center;
          justify-self: center;
          width: 80%;
        }
        &.taskManager {
          background-image: url("/images/taskmanager.png");
        }
        &.bestDeal {
          background-image: url("/images/best_deal.png");
        }
        &.caspianTile {
          background-image: url("/images/caspian.png");
        }
        &.calculator {
          background-image: url("/images/calculator.png");
        }
        &__title {
          font-size: 1.5rem;
        }
        &__description {
          padding: 1rem;
          color: #d4c0de;
          font-size: 1.15rem;
          background-color: #48016b;
          border-radius: 10px;
        }
        &__stack {
          display: flex;
          width: 50%;
          font-size: 2.75rem;
          > * {
            flex: 1;
          }
        }
        &__links {
          display: flex;
          height: 50%;
          > a {
            flex: 1;
            width: 100%;
            height: 100%;
            background-color: #b18cb9;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 2px 2px #2f0146;

            > button {
              width: 100%;
              height: 100%;
              color: #2f0146;
              font-size: 0.95rem;
              font-family: "Play", Helvetica, sans-serif;
              font-weight: 600;
              background-color: #b18cb9;
              border-radius: 5px;
              border: none;
              cursor: pointer;

              &:hover {
                color: #b18cb9;
                background-color: #2f0146;
              }
            }
          }
          &__siteLink {
            margin-right: 0.25rem;
          }
        }
      }
    }
  }

  .footer {
    overflow: hidden;
    display: grid;
    margin-top: 0.3em;
    height: 25vh;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#db0033),
      color-stop(200%, #33ccff)
    );
    background: -webkit-linear-gradient(top, #db0033 0%, #33ccff 200%);
    background: -o-linear-gradient(top, #db0033 0%, #33ccff 200%);
    background: linear-gradient(to bottom, #db0033 0%, #33ccff 200%);
    -webkit-box-shadow: 0 -2px 3px #004;
    box-shadow: 0 -2px 3px #004;

    &__description {
      align-self: center;
      justify-self: center;
      color: #d4c0de;
      text-align: center;
      font-size: 1.5rem;
      font-family: "Righteous", "Zapf Chancery", cursive;
      text-shadow: 0px 2px 5px #291122;
    }
  }

  @media (min-width: 1440px) {
    .about__container {
      &__title {
        font-size: 7em;
      }

      &__description {
        grid-column: 1/-1;
        width: 80%;

        &__text {
          font-size: 1.75em;
          font-weight: 900;
        }
      }

      &__skills {
        font-size: 1.5rem;
      }

      &__arrow {
        font-size: 4em;
      }
    }

    .portfolio__container__card {
      &__title {
        font-size: 2.2rem;
      }
      &__description {
        font-size: 1.5rem;
      }
      &__stack {
        font-size: 4rem;
      }
      &__links {
        &__siteLink {
          margin-right: 0.5rem;
        }
        > a {
          > button {
            font-size: 1.3rem;
          }
        }
      }
    }

    .footer__description {
      font-size: 2.4rem;
    }
  }

  @media (max-width: 1099px) {
    .about__container {
      &__title {
        font-size: 5em;
      }

      &__description {
        grid-column: 1/-1;

        &__text {
          font-size: 1.45em;
        }
      }
    }

    @media (max-height: 450px) {
      .about__container {
        &__title {
          font-size: 4em;
        }
        &__description__text {
          font-size: 1em;
        }
      }

      .portfolio {
        height: 250%;
        &__container__card {
          &__title {
            font-size: 1.4rem;
          }
          &__description {
            font-size: 1.15rem;
          }
          &__stack {
            font-size: 2.5rem;
          }
          &__links {
            &__siteLink {
              margin-right: 0.5rem;
            }
            > a {
              > button {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .footer {
        height: 20%;
      }
    }

    @media (max-height: 380px) {
      .about__container {
        &__title {
          font-size: 3.25em;
        }

        &__skills {
          margin-top: 0.5em;
        }
      }
    }
  }
  @media (max-width: 780px) {
    .about__container {
      &__title {
        font-size: 3.8em;
      }

      &__description {
        grid-column: 1/-1;
        &__text {
          font-size: 1.25em;
        }
      }
    }

    .portfolio {
      &__container {
        width: 100%;
        &__card {
          &__title {
            font-size: 1.2rem;
          }
          &__description {
            font-size: 1rem;
          }
          &__stack {
            font-size: 3rem;
          }
          &__links {
            &__siteLink {
              margin-right: 0.25rem;
            }
            > a {
              > button {
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }

    @media (max-height: 450px) {
      .about__container {
        &__title {
          font-size: 2.75em;
        }

        &__description__text {
          font-size: 1em;
        }

        &__skills {
          font-size: 0.65em;
        }
      }

      .footer {
        height: 25%;
      }
    }

    @media (max-height: 376px) {
    }
  }

  @media (max-width: 660px) {
    .about__container {
      &__title {
        font-size: 2.8em;
      }

      &__description {
        position: relative;

        grid-row: 4/7;
        grid-column: 1/-1;
        bottom: 1em;

        align-self: center;
        text-align: center;

        &__text {
          font-size: 1.1em;
        }
      }

      &__skills {
        grid-column: 2/6;
      }
    }

    .portfolio {
      &__container {
        width: 100%;
        &__card {
          &__title {
            font-size: 1.15rem;
          }
          &__description {
            font-size: 0.9rem;
          }
          &__stack {
            font-size: 2.75rem;
          }
          &__links {
            &__siteLink {
              margin-right: 0.25rem;
            }
            > a {
              > button {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }

    @media (max-height: 450px) {
      .about__container {
        &__title {
          font-size: 2.5em;
        }

        &__description__text {
          font-size: 0.9em;
        }
      }
    }

    @media (max-height: 375px) {
      .about__container {
        &__title {
          font-size: 2em;
        }

        &__description__text {
          font-size: 0.8em;
        }
      }
    }
  }

  @media (max-width: 460px) {
    .about__container {
      &__title {
        grid-row: 1/3;
        font-size: 2.5em;
      }

      &__description {
        grid-row: 3/7;
        grid-column: 1/-1;
        align-self: center;
        text-align: center;

        &__text {
          font-size: 1.1em;
        }
      }

      &__skills {
        grid-row: 6/7;
        grid-column: 2/6;
        margin-top: 1em;
      }

      &__arrow {
        padding: 0.2em;
      }
    }

    .portfolio {
      height: 250%;
      &__container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        &__card {
          width: 95%;
          height: 95%;
          &__title {
            font-size: 1.25rem;
          }
          &__description {
            font-size: 1.1rem;
          }
          &__stack {
            font-size: 2.5rem;
          }
          &__links {
            &__siteLink {
              margin-right: 0.35rem;
            }
            > a {
              > button {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }

    @media (min-height: 650px) {
      .about__container {
        height: 91%;
        &__description__text {
          font-size: 1.25em;
        }
      }
    }
    @media (max-height: 650px) {
      .about__container {
        height: 89%;
        &__title {
          font-size: 2.5em;
        }

        &__description__text {
          font-size: 1.2em;
        }
      }
    }
  }
  @media (max-width: 380px) {
    .about__container__title {
      font-size: 2.2em;
    }

    .about__container__description__text {
      font-size: 1.25em;
    }

    .portfolio {
      &__container {
        &__card {
          &__title {
            font-size: 1.2rem;
          }
          &__description {
            font-size: 0.95rem;
          }
          &__stack {
            font-size: 2.25rem;
          }
          &__links {
            &__siteLink {
              margin-right: 0.3rem;
            }
            > a {
              > button {
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }

    @media (min-height: 750px) {
      .about__container__description__text {
        font-size: 1.4em;
      }
    }
    @media (max-height: 650px) {
      .about__container__description__text {
        font-size: 1.2em;
      }
    }
    .footer__description {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 330px) {
    .about__container__title {
      font-size: 2.1em;
    }

    .about__container__description__text {
      font-size: 1.05em;
    }

    .about__container__skills {
      font-size: 0.8em;
    }

    @media (max-height: 540px) {
      .about__container__description__text {
        font-size: 0.9em;
      }
    }
  }

  @media (min-height: 1000px) {
    .about__container__description__text {
      font-size: 2.5em;
    }
  }
}
