@import url('https://fonts.googleapis.com/css?family=Play|Source+Code+Pro|Montserrat|Cabin|Maven+Pro');
$customFuschia: #db0033;
$customPurple: #48016b;
$stackBgColor: #13030d;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.container {
  background-color: #f9f4f8;
}

.about {
  display: grid;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #33ccff 0%, #db0033 100%);
  box-shadow: 0 2px 3px #004;

  &__container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: repeat(7,1fr) / repeat(6,1fr);
    width: 94%;
    height: 96vh;
    margin: 2vh auto;

    &__title {
      grid-column: 3/5;
      grid-row: 1/5;
      align-self: end;
      position: relative;
      bottom: -0.01em;
      font-size: 16em;
      letter-spacing: 0.02em;
      font-family: 'Maven Pro', sans-serif;
      color: #ddd4;
      text-shadow: -3px 1px 50px #ddd3;
    }

    &__description {
      grid-row: 5/6;
      grid-column: 2/6;
      align-self: end;

      &__text {
        font-family: 'Cabin', sans-serif;
        padding: 1em;
        font-size: 1.4em;
        font-weight: bold;
        background-color: #bbb3;
        color: $customPurple;
        box-shadow: -2px 4px 5px #210031;
        opacity: 0.95;
        border-radius: 5px;
      }
    }

    &__skills {
      grid-column: 3/5;
      grid-row: 6/7;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(3,1fr);
      width: 100%;
      height: 100%;

      &__stack {
        display: grid;
        align-items: center;
        color: $customPurple;
        text-align: center;
        align-self: end;
        font-size: 3em;
        text-shadow: -1px 1px 2px black;
      }
    }

    &__arrow {
      grid-column: 3/5;
      grid-row: 7/-1;
      align-self: end;
      font-size: 2.5em;
      text-decoration: none;
      color: #eee7;
      animation-name: spin;
      animation-duration: 1s;
      animation-iteration-count: infinite;

      a{
        text-decoration: none;
        color:#eee7;
        &:visited{
          color:#eee7;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    @keyframes spin {
      from {
        transform: rotateY(0deg);
      }

      to {
        transform: rotateY(180deg);
      }
    }
  }
}

.portfolio {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  height: 200vh;
  margin-top: 4px;
  background-color: #f9f4f8;
  justify-items: center;
  align-items: center;

  &__project {
    display: grid;
    grid-template-rows: 0.25fr 1fr 0.5fr 0.25fr;
    width: 48vw;
    height: 98vh;
    background-color: $stackBgColor;
    border: solid 1px #ccc;
    box-shadow: 0 2px 3px #000;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 1.2em;
    color: $customFuschia;

    &:nth-child(odd) {
      margin-left: 5px;
    }

    &:nth-child(even) {
      margin-right: 5px;
    }

    &__title {
      align-self: center;
    }

    &__image {
      border-radius: 3px;
      margin: auto;
      width: 90%;
      height: 300px;
    }

    &__description {
      align-self: center;
    }

    &__stack {
      display: grid;
      grid-template-columns: repeat(3,1fr);

      & i {
        font-size: 1.5em;
      }
    }
  }
}

.contact {
  height: 25vh;
  background-color: $customFuschia;
  box-shadow: 0 -2px 2px $customPurple;
}
