* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container {
  background-color: black;
  color: white;

}

.about__logo__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: black solid 5px;
}
