@import url("https://fonts.googleapis.com/css?family=Play|Source+Code+Pro|Montserrat|Cabin|Maven+Pro");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  background-color: #f9f4f8; }

.about {
  display: grid;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #33ccff 0%, #db0033 100%);
  box-shadow: 0 2px 3px #004; }
  .about__container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: repeat(7, 1fr)/repeat(6, 1fr);
    width: 94%;
    height: 96vh;
    margin: 2vh auto; }
    .about__container__title {
      grid-column: 3/5;
      grid-row: 1/5;
      align-self: end;
      position: relative;
      bottom: -0.01em;
      font-size: 16em;
      letter-spacing: 0.02em;
      font-family: 'Maven Pro', sans-serif;
      color: #ddd4;
      text-shadow: -3px 1px 50px #ddd3; }
    .about__container__description {
      grid-row: 5/6;
      grid-column: 2/6;
      align-self: end; }
      .about__container__description__text {
        font-family: 'Cabin', sans-serif;
        padding: 1em;
        font-size: 1.4em;
        font-weight: bold;
        background-color: #bbb3;
        color: #48016b;
        box-shadow: -2px 4px 5px #210031;
        opacity: 0.95;
        border-radius: 5px; }
    .about__container__skills {
      grid-column: 3/5;
      grid-row: 6/7;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      height: 100%; }
      .about__container__skills__stack {
        display: grid;
        align-items: center;
        color: #48016b;
        text-align: center;
        align-self: end;
        font-size: 3em;
        text-shadow: -1px 1px 2px black; }
    .about__container__arrow {
      grid-column: 3/5;
      grid-row: 7/-1;
      align-self: end;
      padding: 0.25em;
      font-size: 2.5em;
      text-decoration: none;
      color: #eee7;
      animation-name: spin;
      animation-duration: 1000ms;
      animation-iteration-count: infinite; }
      .about__container__arrow a {
        text-decoration: none;
        color: #eee7; }
        .about__container__arrow a:visited {
          color: #eee7; }
      .about__container__arrow:hover {
        cursor: pointer; }

@keyframes spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(180deg); } }

.portfolio {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  height: 200vh;
  margin-top: 4px;
  background-color: #f9f4f8;
  justify-items: center;
  align-items: center; }
  .portfolio__project {
    display: grid;
    width: 49vw;
    height: 99vh;
    background-color: white;
    border: solid 5px #db0033;
    box-shadow: 0 2px 3px #000;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 1.2em;
    color: #db0033; }
    .portfolio__project__container {
      display: grid;
      grid-template-rows: 0.25fr 1fr 0.5fr 0.25fr;
      align-self: center;
      justify-self: center;
      width: 98%;
      height: 98%;
      border: solid 5px #33ccff; }
    .portfolio__project__title {
      align-self: center; }
    .portfolio__project__image {
      border-radius: 3px;
      margin: auto;
      width: 80%;
      height: 250px; }
    .portfolio__project__description {
      align-self: center; }
    .portfolio__project__stack {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }
      .portfolio__project__stack i {
        font-size: 1.5em; }

.contact {
  display: grid;
  margin-top: 1em;
  height: 25vh;
  background-color: #db0033;
  box-shadow: 0 -2px 2px #48016b; }
  .contact__list__picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    align-self: center;
    justify-self: center; }
