@import url('https://fonts.googleapis.com/css?family=Play|Source+Code+Pro|Montserrat');

:root {
  --maintext-color: #0f0e0f;
  --nav-color: rgb(239, 246, 247,0.2);
  --about-color: rgb(219, 0, 51,0.90);
}

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 60px;
  }

.navbar__list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 60px;
  margin: auto 33vw;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--nav-color);
  opacity: 0.75;
}

.navbar__list__item {
  list-style-type: none;
  color: white;
  font-family: 'Play', sans-serif;
}

.container {
  background-color: black;
  color: white;

}

.about {
  display: grid;
  grid-template: repeat(12,1fr) /repeat(5,1fr);
  width: 100vw;
  height: 100vh;
  background-color: var(--about-color);
  color: var(--maintext-color);
}

.about__logo {
    grid-column: 3/4;
    grid-row: 2/8;
    align-self: center;
    justify-self: center;

}

.about__logo__image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: black solid 5px;
}

.about__logo__tag {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.about__description {
  display: grid;
  grid-template-rows: repeat(4,1fr);
    grid-row: 8/-1;
    grid-column: 1/4;
    position: relative;
    left: 4em;
      }

 .about__description__title {
    font-size: 3em;
font-family: 'Play', sans-serif;
 }

 .about__description__text {
  grid-row: 2/-1;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  font-weight: bold;
 }
